@CHARSET "ISO-8859-1";

.root {
     -fx-background-image: url("background.jpg");
}

.headerBackground {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}

.centerBackground {
    -fx-background-color: white;
}

.dialogBackground {
    -fx-background-color: linear-gradient(lightGrey, darkGrey);
}
