@CHARSET "ISO-8859-1";

.root {
     -fx-background-image: url("background.jpg");
}

.headerBackground {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}

.centerBackground {
    -fx-background-color: white;
}

.dialogBackground {
    -fx-background-color: linear-gradient(lightGrey, darkGrey);
}

.boldLabel {
    -fx-font-weight: bold;
}

.itemBorder {
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-insets: 4;
    -fx-border-radius: 5;
    -fx-padding: 3;
}
